/* COMPILADOR */
/* VARIABLES */
/* COLORES */
/* TIPOGRAFIA */
/* HEADER */
header .menu {
  background: #f2f2f2;
  padding-top: 0;
  padding-bottom: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

header .menu .logo {
  padding: 0.2rem;
}

header .menu .logo img {
  width: 50px;
  height: auto;
}

header .menu .mi-link {
  text-decoration: none;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
  margin: 15px;
}

header .menu .mi-link:hover {
  color: #fadc3e;
}

header .menu .sesion {
  text-transform: uppercase;
  list-style: none;
  margin: 15px;
  background: #fadc3e;
  border: 2px transparent;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
}

header .menu .sesion:hover {
  background: #f0d23d;
  text-decoration: none;
  border-radius: 0px;
  color: #494c77;
}

/* INDEX */
.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

/* INICIO */
#inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

#inicio img {
  max-width: 250px;
  height: auto;
}

#inicio .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  text-align: center;
  padding: 20px;
}

#inicio .titulo p {
  padding: 20px;
}

#inicio .titulo div input {
  font-family: "Roboto Mono", monospace;
  font-size: medium;
  margin-right: 20px;
}

#inicio .titulo div input.campo {
  width: 170px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #494c77;
  margin-bottom: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#inicio .titulo div input.campo:hover {
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #494c77;
  margin-bottom: 20px;
}

#inicio .titulo div input.boton {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  z-index: 0;
  overflow: hidden;
  border: 2px transparent;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #f2a78c;
  color: #fff;
}

#inicio .titulo div input.boton:hover {
  background-color: transparent;
  color: #f2a78c;
}

#subinicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#subinicio .subinicio-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#subinicio .subinicio-titulo div {
  max-width: 700px;
}

#subinicio .subinicio-titulo div h1 {
  padding: 20px;
}

#subinicio .subinicio-titulo div p {
  padding: 10px 40px;
}

#subinicio .subinicio-titulo div img {
  width: 450px;
  height: auto;
}

/* PRECIOS */
#precios {
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fadc3e;
}

#precios h1 {
  margin: 20px 0px;
}

#precios .amarillo {
  background-color: #fadc3e;
}

#precios .planes {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#precios .planes div {
  width: 250px;
  height: 250px;
  border: 2px solid #494c77;
  border-radius: 20px;
  margin: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #f2f2f2;
}

#precios .planes div:hover {
  width: 260px;
  height: 260px;
  border: 2px solid #242c5c;
  border-radius: 20px;
  margin: 10px;
}

#precios .planes div h4 {
  margin: 10px;
  color: #494c77;
}

#precios .planes div h5 {
  margin: 10px;
  color: #f2a78c;
}

#precios .planes div p {
  height: 70px;
  margin: 10px;
  font-size: small;
}

#precios .planes input {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  z-index: 0;
  overflow: hidden;
  border: 2px transparent;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #fadc3e;
  color: #242c5c;
  margin: 20px;
  font-family: "Roboto Mono", monospace;
}

#precios .planes input:hover {
  background: #f0d23d;
  color: #242c5c;
}

/* NUESTROS USUARIOS */
#usuarios {
  text-align: center;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#usuarios .comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

#usuarios .comentarios-item {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#242c5c), to(#0d103b));
  background: linear-gradient(to bottom, #242c5c, #0d103b);
  border: 2px transparent;
  border-radius: 20px;
  margin: 40px;
  max-width: 500px;
  position: relative;
}

#usuarios .comentarios-item h6 {
  color: #fff;
  line-height: 25px;
  font-weight: lighter;
}

#usuarios .comentarios-item p {
  font-size: small;
  color: #fff;
  padding: 10px;
}

#usuarios .comentarios-item img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 10px;
  border: 2px solid #fadc3e;
}

#usuarios .comentarios-item img.lg {
  position: absolute;
  top: 90px;
  left: 370px;
}

#usuarios .comentarios-item img.md {
  position: absolute;
  top: 140px;
  left: 310px;
}

#usuarios .comentarios-item img.sm {
  position: absolute;
  top: 230px;
  left: 65px;
}

/* FLECHAS DESPLAZAMIENTO */
.round, .round-rv {
  position: relative;
  border: 0 solid #494c77;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.round span, .round-rv span {
  z-index: 999;
  height: 3px;
  margin: 1px;
  width: 30px;
  background: #494c77;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.round span:first-child, .round-rv span:first-child {
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

.round span:nth-child(2), .round-rv span:nth-child(2) {
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

.round span:nth-child(3), .round-rv span:nth-child(3) {
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

.round span:nth-child(4), .round-rv span:nth-child(4) {
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover span:nth-child(1), .round-rv:hover span:nth-child(1) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.round:hover span:nth-child(2), .round-rv:hover span:nth-child(2) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.round:hover span:nth-child(3), .round-rv:hover span:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.round:hover span:nth-child(4), .round-rv:hover span:nth-child(4) {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.round-rv span:first-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.round-rv span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.round-rv span:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.round-rv span:nth-child(4) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.round-rv:hover span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.round-rv:hover span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.round-rv:hover span:nth-child(3) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.round-rv:hover span:nth-child(4) {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

/* APPS */
#apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#apps div {
  text-align: center;
}

#apps p {
  margin: 20px;
}

#apps .tels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#apps .tels img {
  width: 150px;
  padding: 10px;
}

#enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

#enlaces div a {
  text-decoration: underline;
  margin: 0 20px;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#enlaces div a:hover {
  color: #b4acb4;
  font-family: "Roboto Mono", monospace;
}

/* FOOTER */
.footer {
  background-color: #fadc3e;
  color: #494c77;
  text-align: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer .derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
}

.footer .derechos .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .derechos .redes a {
  color: #494c77;
}

.footer .derechos .redes a i {
  font-size: x-large;
}

.footer .derechos .copy {
  font-size: x-large;
}

/* CONTACTO */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.contacto img {
  width: 450px;
  height: auto;
}

.contacto fieldset {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

.contacto fieldset input {
  width: 300px;
  border: none;
  border-bottom: 2px solid #494c77;
  background-color: transparent;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
  margin: 10px 0;
}

.contacto fieldset input.enviar {
  min-width: 130px;
  height: 40px;
  width: 100px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  z-index: 0;
  background: #f2a78c;
  overflow: hidden;
  border: 2px transparent;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contacto fieldset input.enviar:hover {
  background: #fadc3e;
  color: #494c77;
}

.donde-estamos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fadc3e;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.donde-estamos .ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.donde-estamos .ubicacion .datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*  LOGIN */
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
}

.login fieldset {
  width: 350px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 100px;
}

.login input {
  width: 300px;
  border: none;
  border-bottom: 2px solid #494c77;
  margin: 8px;
  background-color: transparent;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
}

.login input::-webkit-input-placeholder {
  color: #717171;
}

.login input:-ms-input-placeholder {
  color: #717171;
}

.login input::-ms-input-placeholder {
  color: #717171;
}

.login input::placeholder {
  color: #717171;
}

.login input.ingresar {
  min-width: 130px;
  height: 40px;
  width: 100px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  z-index: 0;
  background: #f2a78c;
  overflow: hidden;
  border: 2px transparent;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.login input.ingresar:hover {
  background: #fadc3e;
  color: #494c77;
}

.login input.registrarse {
  width: 150px;
  border: none;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.login input.registrarse:hover {
  color: #717171;
}

/* AYUDA */
.buscar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.buscar input {
  width: 200px;
  border: none;
  border-bottom: 2px solid #494c77;
  margin: 8px;
  background-color: transparent;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.buscar input:hover {
  width: 300px;
}

.articulos {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #fadc3e;
}

.articulos h4 {
  color: #494c77;
}

#articulos-populares {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 700px;
  padding: 20px;
}

#articulos-populares div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#articulos-populares div p {
  margin: 0;
}

/* ACERCA DE */
.acerca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.acerca div {
  max-width: 600px;
  padding: 40px;
}

.acerca div p {
  text-align: justify;
}

.equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: #fadc3e;
}

.equipo #equipo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 700px;
  padding-top: 20px;
  margin: 30px 0;
}

.equipo #equipo-grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  width: auto;
  text-align: center;
}

.equipo #equipo-grid .item .foto {
  width: 200px;
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.equipo #equipo-grid .item .nombre {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #494c77;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.equipo #equipo-grid .item:hover .foto {
  opacity: 30%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.equipo #equipo-grid .item:hover .nombre {
  visibility: visible;
  opacity: 1;
}

.equipo #equipo-grid .nombre-mobile {
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 575px) {
  .navbar-nav.me-auto.mb-2.mb-sm-0 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sesion {
    text-decoration: none;
    color: #494c77;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    list-style: none;
    margin: 0px;
    background: #fadc3e;
    border: 0 transparent;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
  }
  .sesion:hover {
    color: #494c77;
    background: #f0d23d;
    font-family: "Roboto Mono", monospace;
  }
  header nav ul li a.link {
    display: none;
  }
  .titulo div input.campo {
    display: none;
  }
  main {
    gap: 50px;
  }
  .contenido {
    gap: 0;
  }
  #inicio {
    margin-top: 20px;
  }
  #inicio img {
    width: 200px;
    height: auto;
  }
  #subinicio .subinicio-titulo div img {
    width: 250px;
    height: auto;
  }
  #usuarios {
    gap: 20px;
  }
  #usuarios .comentarios {
    gap: 50px;
  }
  #usuarios .comentarios .comentarios-item {
    width: 300px;
    height: 300px;
  }
  #usuarios .comentarios .comentarios-item h6 {
    margin-top: 10px;
  }
  #usuarios .comentarios .comentarios-item img.lg {
    display: none;
  }
  #usuarios .comentarios .comentarios-item img.md {
    display: none;
  }
  #usuarios .comentarios .comentarios-item img.sm {
    display: block;
  }
  .login {
    height: 60vh;
    gap: 0;
    margin: 0;
  }
  .login div img {
    display: none;
  }
  .contacto {
    height: 60vh;
    gap: 0;
  }
  .contacto div img {
    display: none;
  }
  .acerca div img {
    display: none;
  }
  #articulos-populares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipo #equipo-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipo #equipo-grid .nombre-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .equipo #equipo-grid .item:hover .foto {
    opacity: 100%;
    -webkit-filter: none;
            filter: none;
  }
  .equipo #equipo-grid .item:hover .nombre {
    visibility: hidden;
    opacity: none;
  }
  #enlaces {
    margin: 20px 0;
  }
  .derechos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .derechos .redes {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header nav ul li a.link {
    display: none;
  }
  .titulo div input.campo {
    display: none;
  }
  main {
    gap: 50px;
  }
  .contenido {
    gap: 0;
  }
  #inicio {
    margin-top: 20px;
  }
  #inicio img {
    width: 250px;
    height: auto;
  }
  #subinicio .subinicio-titulo div img {
    width: 400px;
    height: auto;
  }
  .comentarios-item {
    width: 400px;
    height: auto;
  }
  .comentarios-item img.lg {
    display: none;
  }
  .comentarios-item img.md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comentarios-item img.sm {
    display: none;
  }
  .login {
    height: 60vh;
    gap: 0;
    margin: 0;
  }
  .login div img {
    display: none;
  }
  .contacto {
    height: 60vh;
    gap: 0;
  }
  .contacto div img {
    display: none;
  }
  .acerca div img {
    display: none;
  }
  #articulos-populares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipo #equipo-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipo #equipo-grid .nombre-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .equipo #equipo-grid .item:hover .foto {
    opacity: 100%;
    -webkit-filter: none;
            filter: none;
  }
  .equipo #equipo-grid .item:hover .nombre {
    visibility: hidden;
    opacity: none;
  }
  #enlaces {
    margin: 20px 0;
  }
  .derechos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .derechos .redes {
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1920px) {
  .comentarios-item img.lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comentarios-item img.md {
    display: none;
  }
  .comentarios-item img.sm {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f2f2f2), color-stop(40%, #f1d3c6), color-stop(90%, #f2f2f2));
  background: linear-gradient(to bottom, #f2f2f2 10%, #f1d3c6 40%, #f2f2f2 90%);
}

h1 {
  font-size: xx-large;
  color: #494c77;
  font-family: "Roboto Mono", monospace;
}

h3 {
  color: #f2a78c;
  font-family: "Roboto Mono", monospace;
}

h2, h4, h5, h6 {
  color: #494c77;
  font-family: "Roboto Mono", monospace;
}

p {
  color: #242c5c;
  font-family: "Roboto Mono", monospace;
}

fieldset {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #9ae0f2), color-stop(80%, #9ae0f2));
  background: linear-gradient(to bottom, #9ae0f2 20%, #9ae0f2 80%);
  width: 450px;
  text-align: center;
  outline: none;
  border-radius: 30px;
  border: 2px transparent;
  color: #f2f2f2;
  font-family: "Roboto Mono", monospace;
}

#grid-area {
  /* definicion de layout */
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer" "enlaces";
}

.titular {
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */