/* APPS */
#apps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    div {
        text-align: center;
    }
    p {
        margin: 20px;
    }
    .tels {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 150px;
            padding: 10px;
        }
    }
}




