/* AYUDA */

.articulos  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    h4 {
        color: #494c77;
    }
    input {
        width: 100px;
        border: none;
        border-bottom: 2px solid #494c77;
        margin: 8px;
        background-color: transparent;
        color: #494c77;
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
        transition: all 1s;
        &:hover {
            width: 300px;
        }
    }
}

#articulos-populares {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    max-width: 700px;
    padding: 20px;
    div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        p {
            margin: 0;
        }
    }
}

