/* FOOTER */

.footer {
    background-color: map-get($colores, Amarillo);
    color: map-get($colores, Violeta);
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
    grid-area: footer;
    .derechos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;
        .redes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a {
                color: map-get($colores, Violeta);
                i {
                    font-size: x-large;
                }
            }
        }
        .copy {
            font-size: x-large;
        }
    }
}


