/* FOOTER */

.footer {
    background-color: #fadc3e;
    color: #494c77;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: footer;
    div a {
        text-decoration: underline;
        margin: 10px;
        color: #494c77;
        font-family: 'Roboto Mono', monospace;
        transition: all 1s;
        &:hover {
            color: #b4acb4;
            font-family: 'Roboto Mono', monospace;
        }
    }
    .copy {
        font-size: x-large;
    }
}


