/* HEADER */

header {
    .menu {
        background: map-get($colores, Gris);
        padding-top: 0;
        padding-bottom: 0;
        grid-area: header;
        .logo {
            padding: 0.2rem;
            img {
                width: 50px;
                height: auto;
            }
        }
        .mi-link {
            text-decoration: none;
            color: map-get($colores, Violeta);
            font-family: $tipografia;
            margin: 15px;
            &:hover {
                color: map-get($colores, Amarillo);
            }
        }
        .sesion {
            text-transform: uppercase;
            list-style: none;
            margin: 15px;
            background: map-get($colores, Amarillo);
            border: 2px transparent;
            color: map-get($colores, Violeta);
            font-family: $tipografia;
            &:hover {
                background: map-get($colores, AmarilloOscuro);
                text-decoration: none;
                border-radius: 0px;
                color: map-get($colores, Violeta);
            }
        }
    } 
}
