/* INDEX */

.contenido {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-area: main;
}

/* INICIO */

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    img {
        max-width: 250px;
        height: auto;
    }
    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 700px;
        text-align: center;
        padding: 20px;
        p {
            padding: 20px;
        }
        div {
            input {
                font-family: 'Roboto Mono', monospace;
                font-size: medium;
                margin-right: 20px;
                &.campo {
                    width: 170px;
                    border: none;
                    background-color: transparent;
                    border-bottom: 2px solid #494c77;
                    margin-bottom: 20px;
                    transition: all 1s;
                    &:hover {
                        width: 300px;
                        border: none;
                        background-color: transparent;
                        border-bottom: 2px solid #494c77;
                        margin-bottom: 20px;
                    }
                }
                &.boton {
                    min-width: 130px;
                    height: 40px;
                    color: #fff;
                    padding: 5px 10px;
                    font-weight: bold;
                    cursor: pointer;
                    display: inline-block;
                    outline: none;
                    border-radius: 30px;
                    z-index: 0;
                    background: #f2a78c;
                    overflow: hidden;
                    border: 2px transparent;
                    color: #fff;
                    transition: all 0.7s;
                    &:hover {
                        background-color: transparent;
                        color: #f2a78c;
                    }
                }
            }
        }
    }
}

#subinicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    .subinicio-titulo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        div {
            max-width: 700px;
            h1 {
                padding:20px;
            }
            p {
                padding: 10px 40px;
            }
            img {
                width: 450px;
                height: auto;
            }
        }
    }
}   

/* PRECIOS */

#precios {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 20px 0px;
    }
    .planes {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div {
            width: 250px;
            height: 250px;
            border: 2px solid #494c77;
            border-radius: 20px;
            margin: 10px;
            transition: all 1s;
            &:hover {
                width: 260px;
                height: 260px;
                border: 2px solid #fadc3e;
                border-radius: 20px;
                margin: 10px;
            }
            h4 {
                margin: 10px;
                color: #494c77;
            }
            h5 {
                margin: 10px;
                color: #f2a78c;
            }
            p {
                height: 70px;
                margin: 10px;
                font-size: small;
            }
        }
        input {
            min-width: 130px;
            height: 40px;
            width: 150px;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            outline: none;
            border-radius: 30px;
            z-index: 0;
            background: #fadc3e;
            overflow: hidden;
            border: 2px transparent;
            color: #242c5c;
            margin: 20px;
            font-family: 'Roboto Mono', monospace;
            &:hover {
                background: #f0d23d;
                color: #242c5c;   
            }
        }
    }
}

/* NUESTROS USUARIOS */

#usuarios {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .comentarios {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
    }
    .comentarios-item {
        padding: 20px;
        background-color:#494c77;
        border: 2px transparent;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        h6 {
            color: #fff;
            margin: 0;
        }
        p {
            width: 250px;
            font-size: small;
            color: #fff;
            font-style: italic;
            padding: 10px;
            .empresa {
                font-size: small;
                color: #fff;
                padding: 0;
                margin: 0;
            }
        }
        img {
            width: 75px;
            height: 75px;
            border-radius: 50px;
            margin: 10px;
        }
    }
}

/* FLECHAS DESPLAZAMIENTO */

.round {
    position: relative;
    border: 0 solid $colorVioleta;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    span {
        z-index: 999;
        height: 3px;
        margin: 1px;
        width: 30px;
        background: $colorVioleta;
        transition: 0.4s ease;
        &:first-child {
            display: block;
            position: absolute;
            transform: rotate(45deg);
            left: 25%;
            bottom: 35%;
        }
        &:nth-child(2) {
            display: block;
            position: absolute;
            transform: rotate(-45deg);
            left: 45%;
            bottom: 35%;
        }
        &:nth-child(3) {
            display: block;
            position: absolute;
            transform: rotate(45deg);
            left: 25%;
            bottom: 54%;
        }
        &:nth-child(4) {
            display: block;
            position: absolute;
            transform: rotate(-45deg);
            left: 45%;
            bottom: 54%;
        }
    }
    &:hover {
        span {
            &:nth-child(1) {
                transform: rotate(-135deg);
            }
            &:nth-child(2) {
                transform: rotate(135deg);
            }
            &:nth-child(3) {
                transform: rotate(225deg);
            }
            &:nth-child(4) {
                transform: rotate(-225deg);
            }
        }
    }
}

.round-rv {
    position: relative;
    border: 0 solid $colorVioleta;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    span {
        z-index: 999;
        height: 3px;
        margin: 1px;
        width: 30px;
        background: $colorVioleta;
        transition: 0.4s ease;
        &:first-child {
            display: block;
            position: absolute;
            transform: rotate(135deg);
            left: 25%;
            bottom: 35%;
        }
        &:nth-child(2) {
            display: block;
            position: absolute;
            transform: rotate(-135deg);
            left: 45%;
            bottom: 35%;
        }
        &:nth-child(3) {
            display: block;
            position: absolute;
            transform: rotate(135deg);
            left: 25%;
            bottom: 54%;
        }
        &:nth-child(4) {
            display: block;
            position: absolute;
            transform: rotate(-135deg);
            left: 45%;
            bottom: 54%;
        }
    }
    &:hover {
        span {
            &:nth-child(1) {
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(315deg);
            }
            &:nth-child(4) {
                transform: rotate(-315deg);
            }
        }
    }
}