/* RESPONSIVE */

@media screen and (max-width: 575px) {
    .navbar-nav.me-auto.mb-2.mb-sm-0 {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .d-flex {
        justify-content: center;
        align-items: center;
    }
    .sesion {
        text-decoration: none;
        color: #494c77;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        list-style: none;
        margin: 0px;
        background: #fadc3e;
        border: 0 transparent;
        margin: 0;
        margin-bottom: 10px;
        padding: 10;
    }
    .sesion:hover {
        color: #494c77;
        background: #f0d23d;
        font-family: 'Roboto Mono', monospace;
    }
    header nav ul li a.link {
        display: none;
    }
    .titulo div input.campo {
        display: none;
    }
    main {
        gap: 50px;
    }
    .contenido {
        gap: 0;
    }
    #inicio {
        margin-top: 50px;
    }
    #inicio img {
        width: 200px;
        height: auto;
    }
    #subinicio .subinicio-titulo div img {
        width: 300px;
        height: auto;
    }
    .comentarios div.comentarios-item {
        flex-direction: column;
        height: 300px;
        width: 300PX;
    }
    .login {
        height: 60vh;
    }
    .login div img {
        display: none;
    }
    .contacto {
        height: 60vh;
        gap: 0;
    }
    .contacto div img {
        display: none;
    }
    .acerca div img {
        display: none;
    }
    #articulos-populares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .equipo #equipo-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .nombre-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .item {
            &:hover .foto {
                opacity: 100%;
                filter: none;
            }
            
            &:hover .nombre {
                visibility: hidden;
                opacity: none;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    header nav ul li a.link {
        display: none;
    }
    .titulo div input.campo {
        display: none;
    }
    main {
        gap: 50px;
    }
    .contenido {
        gap: 0;
    }
    #inicio {
        margin-top: 50px;
    }
    #inicio img {
        width: 200px;
        height: auto;
    }
    #subinicio .subinicio-titulo div img {
        width: 400px;
        height: auto;
    }
    .comentarios div.comentarios-item {
        flex-direction: column;
        height: 300px;
        width: 300PX;
    }
    .login {
        height: 60vh;
    }
    .login div img {
        display: none;
    }
    .contacto {
        height: 60vh;
        gap: 0;
    }
    .contacto div img {
        display: none;
    }
    .acerca div img {
        display: none;
    }
    #articulos-populares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .equipo #equipo-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .nombre-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .item {
            &:hover .foto {
                opacity: 100%;
                filter: none;
            }
            
            &:hover .nombre {
                visibility: hidden;
                opacity: none;
            }
        }
    }
}