/* VARIABLES */

/* COLORES */
$colores: (
    Gris: #f2f2f2,
    Amarillo: #fadc3e,
    AmarilloOscuro: #f0d23d,
    Violeta: #494c77,
    VioletaOscuro: #242c5c,
    Salmon: #f2a78c,
);

/* TIPOGRAFIA */
$tipografia: 'Roboto Mono', monospace;