/* COMPILADOR */

@import 'vars';
@import 'header';
@import 'index';
@import 'apps';
@import 'footer';
@import 'contacto';
@import 'login';
@import 'ayuda';
@import 'acerca';
@import 'media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing:border-box;
}

body {
    background: linear-gradient(to bottom, #f2f2f2 10%, #f1d3c6 40%, #f2f2f2 90%);
}

h1  {
    font-size: xx-large;
    color: $colorVioleta;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: $colorSalmon;
    font-family: 'Roboto Mono', monospace;
}

h2, h4, h5, h6 {
    color: $colorVioleta;
    font-family: 'Roboto Mono', monospace;
}

p {
    color: $colorVioletaOscuro;
    font-family: 'Roboto Mono', monospace;
}

fieldset{
    background: linear-gradient(to bottom, #9ae0f2 20%, #9ae0f2 80%);
    width: 450px;
    text-align: center;
    outline: none;
    border-radius: 30px;
    border: 2px transparent;
    color: $colorGris;
    font-family: 'Roboto Mono', monospace;
}

#grid-area { /* definicion de layout */
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

